* {
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 70vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    color: red;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);

}
#reset-btn{
    padding:  1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
}
#new-btn{
    padding:  1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
}
#msg{
    color: rgb(95, 7, 103);
    font-size: 8vmin;
}
.msg-container{
     height: 100vmin;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 4rem;
     
}
.hide{
     display: none; 
}